:root {
  --soft-blue: #8bacda;
  --cyan: #00fff6;
  --very-dark-blue: #0d192b;
  --very-dark-blue2: #14253d;
  --very-dark-blue3: #2f415b;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--very-dark-blue);
  display: grid;
  height: 100vh;
  place-items: center;
}

.container {
  max-width: 400px;
  background: var(--very-dark-blue2);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}

.container img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.container h2 {
  color: var(--white);
  margin-bottom: 15px;
}
