:root {
  --soft-blue: #8bacda;
  --light-gray: #b3b3b3;
  --cyan: #00fff6;
  --very-dark-blue: #0d192b;
  --very-dark-blue2: #14253d;
  --very-dark-blue3: #2f415b;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--very-dark-blue);
  display: grid;
  height: 100vh;
  place-items: center;
  padding: 40px;
}

.container {
  max-width: 400px;
  background: var(--very-dark-blue2);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}

.container .equilibrium {
  background: url(./assets/image-equilibrium.jpg) center no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.container .equilibrium img {
  opacity: 0;
  transition: 300ms;
}

.container .equilibrium:hover {
  cursor: pointer;
  background: linear-gradient(
      0deg,
      hsla(178, 100%, 50%, 0.5) 0%,
      hsla(178, 100%, 50%, 0.5) 100%
    ),
    url(./assets/image-equilibrium.jpg) center no-repeat;
  background-size: cover;
}

.container .equilibrium:hover img {
  opacity: 1;
}

.container h2 {
  color: var(--white);
  margin-bottom: 20px;
  transition: 0.5s;
}

.container p {
  color: var(--light-gray);
  font-weight: 300;
  margin-bottom: 20px;
}

.specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.specs div {
  display: flex;
  align-items: center;
}

.specs strong {
  color: var(--cyan);
  margin-left: 5px;
}

.specs span {
  color: var(--light-gray);
  margin-left: 5px;
}

hr {
  border-color: var(--very-dark-blue3);
}

.profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile img {
  width: 40px;
  border: 2px solid var(--white);
  border-radius: 50px;
}

.profile span {
  color: var(--light-gray);
  margin-left: 15px;
}

.profile strong {
  transition: 0.5s;
  color: var(--white);
}

.container h2:hover {
  color: var(--cyan);
  cursor: pointer;
}

.profile strong:hover {
  color: var(--cyan);
  cursor: pointer;
}
