:root {
  --soft-blue: #8bacda;
  --cyan: #00fff6;
  --very-dark-blue: #0d192b;
  --very-dark-blue: #14253d;
  --very-dark-blue: #2f415b;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}
